* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    border: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* border: 1px solid red; */
}

:root {
    --clr-txt: #ffffff;
    --font-size: clamp(1em, 2em, 80px);
}

img {
    width: 100%;
}
/* btn return-top */
.btn-return-top {
    width: 50px;
    height: 50px;
    backdrop-filter: blur(20px);
    border-radius: 25%;
    border: 1px solid #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 2;
}

.fleche {
    width: 15px;
}
/* header */

.navbar {
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 100;
    align-items: center;
    width: 100%;
    min-height: 7vh;
    background: #302f2f97;
    overflow-y: hidden;
}

.navbar.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
}

.logo {
    position: fixed;
    margin-left: 150px;
    font-weight: 900;
    font-size: 30px;
}

.logo a {
    color: aliceblue;
}

.logo.active {
    position: relative;
}

.items-nav {
    margin-right: 5%;
    position: absolute;
    right: 0;
}

.items-nav a {
    margin-right: 30px;
    text-transform: uppercase;
    font-weight: 300;
    color: aliceblue;
}

.items-nav a:hover {
    color: #5c7bea;
    font-weight: 900;
}

.items-nav a.active {
    color: #71ceeb;
    font-weight: 900;
}

.items-nav.active {
    line-height: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(0px);
}

/* nav hamburger */
.nav-toggler {
    display: none;
    position: absolute;
    left: 80%;
    top: 0px;
    height: 100%;
    width: 10%;
    border: none;
    outline: none;
    cursor: pointer;
    align-items: center;
    background: transparent;
    overflow-y: hidden;
    transition: ease-in-out 0.2s;
}

.line {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: #ffffff;
    transition: transform 0.3s ease-out,
        opacity 0.1s ease-out;
}

.l1 {
    transform: translateY(-10px);
}

.l3 {
    transform: translateY(10px);
}

.nav-toggler.active .l1 {
    transform: translateY(0px) rotate(135deg);
}

.nav-toggler.active .l2 {
    opacity: 0;
}

.nav-toggler.active .l3 {
    transform: translateY(0px) rotate(-135deg);
}

/* section hero */
.container-hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(images_web/img_hero_blue.webp) center;
    background-size: cover;
    color: #ffffff;
    font-size: clamp(2rem, 10vw, 4rem);
}

.content-hero {
    padding: 250px 0% 0% 10%;
}

.content-hero p {
    font-size: clamp(1rem, 3vw, 1.8rem);
}

.btn-contact {
    border-radius: 40px;
    padding: 15px 25px;
    text-transform: uppercase;
    font-size: clamp(1rem, 1vw, 1.8rem);
}

.btn-contact:hover {
    background: linear-gradient(#5a5aa7, #6573cc)
}

/* section cards */

h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 80px;
}

.trait {
    padding: 2px;
    background-color: #012cce;
    width: 150px;
    margin: 0 auto;
}

.container-cards {
    position: relative;
    overflow-y: hidden;
    width: 100%;
    height: 100%;

}

.content-card {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 0px;

}

.card {
    /* display: none; */
    padding: 45px 0;
    margin: 0 25px;
    border-radius: 1em;
    box-shadow: 12px 12px 12px 12px #3535352f;
    cursor: pointer;
    background: #ffffff00;
    backdrop-filter: blur(5px);
    width: 25%;
    cursor: pointer;
    text-align: center;
}

.card img {
    width: 80%;
    border-radius:calc(2% + 25px);
    object-fit: cover;
    margin: 0 auto;
}

.card p {
    margin: auto;
    width: 80%;
    padding: 10% 0;
    border-radius: 5px;
    background-color: #cecccc99;
    text-align: center;
    text-transform: uppercase;
}

.card:hover {
    transform: translateY(-20px);
    transition: ease-out 0.7s;
}

.circle1 {
    position: absolute;
    width: 100%;
    height: 100%;
    right: -750px;
    top: 350px;
    background: #33c5f1;
    clip-path: circle(150px at center);
}

.circle2 {
    z-index: -10;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -350px;
    right: 50%;
    background: #6573cc;
    clip-path: circle(150px at center);
}

.circle3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 270px;
    background: #3e3e79;
    z-index: -1;
    clip-path: circle(100px at center);
}

/* section about */
.container-about h2 {
    text-transform: uppercase;
    text-align: center;
}

.circle4 {
    position: absolute;
    width: 100%;
    height: 100%;
    right: -550px;
    top: 750px;
    background: #71ceeb;
    clip-path: circle(150px at center);
}

.circle5 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -350px;
    right: 500px;
    background: #6573cc;
    clip-path: circle(150px at center);
}

.circle6 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 270px;
    background: #5a5aa7;
    clip-path: circle(100px at center);
}

.container-about {
    position: relative;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}

.content-about {
    overflow-y: hidden;
    display: flex;
    border-radius: 25px;
    background: #ffffff00;
    backdrop-filter: blur(2px);
    align-items: center;
    box-shadow: 12px 12px 12px 12px #3535352f;
    width: 60%;
    height: 40vh;
    margin: 5% auto;
}

.img-about {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-about {
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto 0;
    font-size: clamp(0.5rem, 3.5vw, 1rem);
    width: 60%;
    z-index: 10;
}

/* section footer */
.container-footer {
    backdrop-filter: blur(2px);
    padding-top: 50px;
    height: 30vh;
    overflow-y: hidden;
    background: #34353813;
}

.trait-footer {
    padding: 1px;
    background-color: #343538;
    width: 60%;
    margin: 0 auto;
}

.column {
    display: flex;
    flex-direction: column 2;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

.content-page a {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    color: #343538;
    font-size: clamp(0.5em, 1.5vh, 6em);
    line-height: 45px;
}

.content-media a {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    color: #343538;
    font-size: clamp(0.5em, 1.5vh, 6em);
    line-height: 45px;
}

/* responsive */
@media (max-width: 950px) {

    /* navbar hamburger */
    .items-nav {
        position: relative;
        margin-right: 0;
        transform: translateY(-150px);
    }

    .items-nav a {
        margin: 0 auto;
    }

    .nav-toggler {
        display: inherit;
    }

    .logo {
        margin-left: 5%;
    }
    /* section hero */
        .btn-contact{
            padding: 8px 10px;
        }

    /* section 3card */
    .content-card {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-top: 70px;

    }

    .circle1 {
        right: 250px;
        top: 850px;
    }


    .circle2 {
        top: 10%;
        right: 20%;

    }

    .circle3 {
        top: -40%;
        left: 30%;

    }

    /* section about */
    .content-about {
        flex-direction: column-reverse;
        width: 80%;
        height: 600px;
        margin: 5% auto;
    }

    .img-about {
        width: calc(100vw - 20%);
        height: 60%;
        overflow-y: hidden;
    }

    .text-about {
        width: 60%;
        height: 40%;
        z-index: 10;
        overflow-y: hidden;
        margin: auto 0;
    }
}

@media (max-width: 1450px) {

    /* section 3 card */
    .card {
        margin-top: 70px;
        width: 60%;
    }
}

/* @media (max-width: 720px) {
    .text-about {
        width: 60%;
        height: 40%;
        z-index: 10;
    }

    .img-about {
        height: 60%;
    }
} */