* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    border: none;
    overflow-x: hidden;
    /* border: 1px solid red; */
}

:root {
    --clr-txt: #ffffff;
    --font-size: clamp(1em, 2em, 80px);
}

img {
    width: 100%;
}

/* header */

.navbar {
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 100;
    align-items: center;
    width: 100%;
    min-height: 5vh;
    background: #302f2f97;
}

.navbar.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
}

.logo {
    position: fixed;
    margin-left: 150px;
    font-weight: 900;
    font-size: 30px;
}

.logo a {
    color: aliceblue;
}

.items-nav {
    margin-right: 5%;
    position: absolute;
    right: 0;
}

.items-nav a {
    margin-right: 30px;
    text-transform: uppercase;
    font-weight: 300;
    color: aliceblue;
}

.items-nav.active {
    line-height: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(0px);
}

/* nav hamburger */
.nav-toggler {
    display: none;
    position: absolute;
    left: 90%;
    top: 0px;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    align-items: center;
    background: transparent;
}

.line {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: #ffffff;
    transition: transform 0.3s ease-out,
        opacity 0.1s ease-out;
}

.l1 {
    transform: translateY(-10px);
}

.l3 {
    transform: translateY(10px);
}

.nav-toggler.active .l1 {
    transform: translateY(0px) rotate(135deg);
}

.nav-toggler.active .l2 {
    opacity: 0;
}

.nav-toggler.active .l3 {
    transform: translateY(0px) rotate(-135deg);
}

/* section hero */
.container-hero {
    width: 100%;
    min-height: 100vh;
    background: url(images_web/img_hero_blue.webp) center;
    background-size: cover;
    font-size: clamp(10px, 2em, 30px);
    color: #ffffff;
}

.content-hero {
    padding: 280px 0% 0% 12%;
}

.btn-contact {
    border-radius: 40px;
    padding: 10px 10px;
    text-transform: uppercase;
    margin-left: 20%;
}

/* section cards */

h1 {
    text-transform: uppercase;
    text-align: center;
}

.trait {
    padding: 2px;
    background-color: #012cce;
    width: 150px;
    margin: 0 auto;
}

.container-cards {
    position: relative;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    margin: 80px 0px;
}

.content-card {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 0px;

}

.card {
    /* display: none; */
    padding: 45px 0;
    margin: 0 25px;
    border-radius: 1em;
    box-shadow: 12px 12px 12px 12px #3535352f;
    cursor: pointer;
    background: #ffffff00;
    backdrop-filter: blur(5px);
    width: 80%;
    cursor: pointer;
    text-align: center;
}

.card img {
    width: 80%;
    border-radius: 25px;
    object-fit: cover;
    margin: 0 auto;
}

.card p {
    margin: auto;
    width: 80%;
    padding: 10% 0;
    border-radius: 5px;
    background-color: #cecccc99;
    text-align: center;
    text-transform: uppercase;
}

.card:hover {
    transform: translateY(-20px);
    transition: ease-out 0.7s;
}

.circle1 {
    position: absolute;
    width: 100%;
    height: 100%;
    right: -750px;
    top: 350px;
    background: #33c5f1;
    clip-path: circle(150px at center);
}

.circle2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -350px;
    right: 700px;
    background: #6573cc;
    clip-path: circle(150px at center);
}

.circle3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 270px;
    background: #3e3e79;
    clip-path: circle(100px at center);
}

/* section about */
.container-about h2 {
    text-transform: uppercase;
    text-align: center;
}

.container-about {
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}

.content-about {
    display: flex;
    border-radius: 25px;
    background: #ffffffa2;
    backdrop-filter: blur(2px);
    text-align: center;
    align-items: center;
    box-shadow: 12px 12px 12px 12px #3535352f;
    width: 1000px;
    margin: 0 auto;

}

.img-about {
    width: 70%;

}

.text-about {
    width: 40%;
    z-index: 10;
}

/* responsive */
@media (max-width: 1050px) {

    /* navbar hamburger */
    .items-nav {
        position: relative;
        margin-right: 0;
        transform: translateY(-150px);
    }

    .items-nav a {
        margin: 0 auto;
    }

    .nav-toggler {
        display: inherit;
    }

    .logo {
        margin-left: 5%;
    }

    /* section 3card */
    .content-card {
        flex-direction: column;
        align-items: center;
    }

}